.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  margin: 0px 120px;

  h1 {
    margin-top: 60px;
  }
  p {
    text-align: center;
    margin-bottom: 60px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
  }
  img {
    height: 100%;
    width: 100%;
  }
}
