.home {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0px 250px;
  padding-top: 20px;

  .user-name {
    margin-bottom: -8px;
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
  }
  .user-information {
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
  }
  .language {
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    // transform: rotate(-90deg);
  }
  .logo {
    width: 100%;
    height: 100%;
    padding: 20px 0px 50px 0px;
  }
}
