.skills {
  margin: 50px 120px;
  text-align: center;

  h1 {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
  }
  p {
    padding-bottom: 45px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
  }

  img {
    height: 186px;
    width: 146px;
  }
  .programs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
