.type-menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  padding-left: 0px;
  margin: 0px 120px;

  li:first-child {
    color: #070707;
  }
  li {
    list-style-type: none;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    cursor: pointer;
  }
}
